$yellow: #fff629;
$yellow-light: #3D413F;
$mint: #2affff;
$mint-light: #274255;
$purple: #6c7cff;
$purple-light: #2C3455;
$pink: #ca59ff;
$pink-light: #373155;
$navy-blue: #0f162d;
$gray: #272d42;
$black: #000;
$white: #fff;